<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase //localhost:8080/ohmyhair/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ohmyhair/index.html [L]
</IfModule>