<!--<app-navigation-bar></app-navigation-bar>-->
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="main-content">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="display-3">Service Client</h1>
        <a href="./clients"><img src="assets/shopping-cart.png" width="256" height="256"/></a>
      </div>
    </section>
    <div class="album text-muted text-center ">
        <div class="container">
            <div class="row">
              <div class="card">
                <h1>Rapports de caisse</h1>
                <a href="./rapport"><img  src="assets/cash-register.png" class="center-block" width="128" height="128"  alt="Rapports de caisse"></a>
                <p class="card-text">Génération et consultation des rapports de caisse</p>
              </div>
              <div class="card">
                <h1 >Stock</h1>
                <a href="./stock"><img src="assets/package.png"  class="center-block" width="128" height="128" alt="Stock"></a>
                <p class="card-text">Gestion et exportation de l'état du stock</p>
              </div>
              <div class="card">
                  <h1 >Autres</h1>
                <a href="./autres"><img src="assets/rocket-ship.png" class="center-block" width="128" height="128" alt="Autres"></a>
                <p class="card-text">Ajout d'un nouveau client, consultation des services</p>
              </div>
          </div>
        </div>
    </div>
 </div>