<div class="header">
    <div class="logo">
            <img src="../assets/ohmyhair_small_black.png"/>
            <span>Oh my! Hair</span>
    </div>
    <a href="javascript:void(0);" class="nav-trigger"><span></span></a>
</div>
<div class="side-nav">

    <div class="logo">
        <img src="../assets/ohmyhair_small.png"/>
        <span>Oh my! Hair</span>
    </div>

    <nav>
        <ul>
            <li>
                <a routerLink="/caisse">
                    <span><i class="fa fa-dollar-sign"></i></span>
                    <span>Caisse</span>
                </a>
            </li>
            <li>
                <a routerLink="/rapport">
                    <span><i class="fa fa-archive"></i></span>
                    <span>Rapports</span>
                </a>
            </li>
            <li>
                <a routerLink="/stock">
                    <span><i class="fa fa-box"></i></span>
                    <span>Stock</span>
                </a>
            </li>
            <li>
                <a routerLink="/services">
                    <span><i class="fa fa-cut"></i></span>
                    <span>Services</span>
                </a>
            </li>
            <li>
                <a routerLink="/clients">
                    <span><i class="fa fa-address-book"></i></span>
                    <span>Clients</span>
                </a>
            </li>
        </ul>
    </nav>
</div>